@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CPE500 dashboard</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="text-danger">
        <h3>Important Updates:</h3>
        <ul>
            <li>0 Active unsubmitted assignments - see below</li>
            <li>2 Tests loading - see below</li>
            <li>CPE 593 Test by XXam/pm, Friday, 5th March, 2021 (Engr. Iruansi)</li>
            <li>CPE 557 Test by XXam/pm, Tuesday, 9th March, 2021</li>
        </ul>
    </div>

    <div class="text-center">
        <h3 style="color: #007FFF;">1st Semester Examination Time Table</h3>
        <img src="~/exam time table.jpg"/>
    </div>

    @for (int i = 0; i < Model.AssetDirectories.Count; i++)
    {
        string id = $"collapse{i}";
        string hashId = $"#collapse{i}";
        string folderName = Model.AssetDirectories[i].Substring(Model.AssetDirectories[i].LastIndexOf(Model.PathSeparator) + 1);

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="@hashId" aria-expanded="true" aria-controls="collapseOne">
                        @folderName
                    </button>
                </h5>
            </div>

            <div id="@id" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    @{
                        var files = System.IO.Directory.GetFiles(Model.AssetDirectories[i]);
                            for (int j = 0; j < files.Length; j++)
                            {
                                string fileName = files[j].Substring(files[j].LastIndexOf(Model.PathSeparator) + 1);
                                string filePath = files[j].Substring(files[j].LastIndexOf("wwwroot") + 8);
                                <a href="@filePath">@fileName</a>
                                <br />
                            }
                    }
                </div>
            </div>
        </div>
    </div>
    }
    <div>
        <span>This project is built and maintained by Emmanuel Oluwagbemiga Adebiyi (Engineer Smart). <a href="https://paystack.com/pay/engineer-smart-cpe-500">If this project helps you, buy me a drink!</a></span>
    </div>
</div>
